[submodule "layers/layer-apt"]
	path = layers/layer-apt
	url = https://github.com/stub42/layer-apt.git
[submodule "layers/layer-basic"]
	path = layers/layer-basic
	url = https://github.com/juju-solutions/layer-basic.git
[submodule "interfaces/interface-reverseproxy"]
	path = interfaces/interface-reverseproxy
	url = https://github.com/chris-sanders/interface-reverseproxy.git
[submodule "src/lib/pyweerelay"]
	path = src/lib/pyweerelay
	url = https://github.com/vktec/pyweerelay.git
[submodule "layers/layer-version"]
	path = layers/layer-version
	url = https://github.com/chris-sanders/layer-version.git
