[submodule "layers/layer-apt"]
	path = layers/layer-apt
	url = https://github.com/stub42/layer-apt.git
[submodule "layers/layer-basic"]
	path = layers/layer-basic
	url = https://github.com/juju-solutions/layer-basic.git
